<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xlk.demo.test">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 手机振动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 如果是安卓10.0，需要后台获取连接的wifi名称则添加进程获取位置信息权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".camera2.CameraXActivity"></activity>
        <activity android:name=".scan.ScanCodeActivity" />
        <activity android:name=".ini.IniActivity" />
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".email.EmailActivity" />
        <activity android:name=".itext.ITextActivity" />
        <activity android:name=".table.TableActivity" />
        <activity
            android:name=".material.design.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".material.design.DesignActivity" />
        <activity android:name=".JavaTestActivity" />
        <activity android:name=".navigation.NavigationBarActivity" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity
            android:name=".ui.activity.CustomUIActivity"
            android:hardwareAccelerated="false" />
        <activity android:name=".annotation.Mp3Activity" />
        <activity android:name=".tbs.WebActivity" />
        <activity android:name=".tbs.TbsFileActivity" />
        <activity android:name=".tree.TreeListActivity" />
        <activity android:name=".wifi.OtherWifi" />
        <activity android:name=".wifi.WifiActivity" />
        <activity android:name=".camera2.Camera2Activity" />
        <activity android:name=".media.decoder.PlayActivity" />
        <activity android:name=".ui.activity.SeatActivity" />

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />
        <service android:name=".util.MyServer" />
    </application>

</manifest>